





<div class="py-5" id="front">
  <img src="../assets/profile.png" id="prof-img">  
  <p class="h1 text-center" id="title" >PARTH <br>
    CHAMPANERI</p>
</div>




<div class="section">
    <div id="section-body">
        <h3>
          About Me!
        </h3>
        <p>
          I love a good challenge. I want to create stuff that people use and go "WOW!". It should really be "Human Experience"!
          I love playing sports and games and I love reading about Design. 
    
        </p>
      </div>
</div>

<div class="section">

    <div id="section-body">
        <h3>
          About Me!
        </h3>
        <p>
          I love a good challenge. I want to create stuff that people use and go "WOW!". It should really be "Human Experience"!
          I love playing sports and games and I love reading about Design. 
    
        </p>
      </div>



</div>